
name: Java CI with Maven

on:
  push:
    branches: [ "main" ]

jobs:
  compile:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn compile

      
  security-checks:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Trivy installation
      run: |
        sudo apt update -y
        sudo apt install -y wget apt-transport-https gnupg lsb-release
        wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
        echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee /etc/apt/sources.list.d/trivy.list
        sudo apt update -y
        sudo apt install -y trivy
    
    - name: Trivy FS scan
      run: trivy fs --format table -o fs-report.json .
    - name: Gitleaks scan
      run: sudo apt install gitleaks -y
    - name: Gitleaks Code Scan
      run: gitleaks detect  source . -r gitleaks-report.json
    
      
